In [28]:
import pandas as pd

In [29]:
#
df = pd.read_csv("C:/Users/Xavier/Documents/retro/all2019.csv", header = None)

# http://www.seanlahman.com/baseball-archive/statistics/
# headers http://chadwick.sourceforge.net/doc/cwevent.html

C:\Users\Xavier\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (63,64,65,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
len(df.columns)

97

In [31]:
column_names = ['GAME_ID','AWAY_TEAM_ID','INN_CT','BAT_HOME_ID','OUTS_CT','BALLS_CT','STRIKES_CT','PITCH_SEQ_TX','AWAY_SCORE_CT','HOME_SCORE_CT','BAT_ID','BAT_HAND_CD','RESP_BAT_ID','RESP_BAT_HAND_CD','PIT_ID','PIT_HAND_CD','RESP_PIT_ID','RESP_PIT_HAND_CD','POS2_FLD_ID','POS3_FLD_ID','POS4_FLD_ID','POS5_FLD_ID','POS6_FLD_ID','POS7_FLD_ID','POS8_FLD_ID','POS9_FLD_ID','BASE1_RUN_ID','BASE2_RUN_ID','BASE3_RUN_ID','EVENT_TX','LEADOFF_FL','PH_FL','BAT_FLD_CD','BAT_LINEUP_ID','EVENT_CD','BAT_EVENT_FL','AB_FL','H_FL','SH_FL','SF_FL','EVENT_OUTS_CT','DP_FL','TP_FL','RBI_CT','WP_FL','PB_FL','FLD_CD','BATTEDBALL_CD','BUNT_FL','FOUL_FL','BATTEDBALL_LOC_TX','ERR_CT','ERR1_FLD_CD','ERR1_CD','ERR2_FLD_CD','ERR2_CD','ERR3_FLD_CD','ERR3_CD','BAT_DEST_ID','RUN1_DEST_ID','RUN2_DEST_ID','RUN3_DEST_ID','BAT_PLAY_TX','RUN1_PLAY_TX','RUN2_PLAY_TX','RUN3_PLAY_TX','RUN1_SB_FL','RUN2_SB_FL','RUN3_SB_FL','RUN1_CS_FL','RUN2_CS_FL','RUN3_CS_FL','RUN1_PK_FL','RUN2_PK_FL','RUN3_PK_FL','RUN1_RESP_PIT_ID','RUN2_RESP_PIT_ID','RUN3_RESP_PIT_ID','GAME_NEW_FL','GAME_END_FL','PR_RUN1_FL','PR_RUN2_FL','PR_RUN3_FL','REMOVED_FOR_PR_RUN1_ID','REMOVED_FOR_PR_RUN2_ID','REMOVED_FOR_PR_RUN3_ID','REMOVED_FOR_PH_BAT_ID','REMOVED_FOR_PH_BAT_FLD_CD','PO1_FLD_CD','PO2_FLD_CD','PO3_FLD_CD','ASS1_FLD_CD','ASS2_FLD_CD','ASS3_FLD_CD','ASS4_FLD_CD','ASS5_FLD_CD','EVENT_ID']

In [32]:
df.columns = column_names

In [33]:
def is_hit(x): 
    if (x.H_FL > 0):
        return 1 
    else: 
        return 0

In [35]:
df['hit'] = df.apply(is_hit, axis = 1)
df = df[df['EVENT_ID'] != (14,15)]

In [36]:
h_df = df.groupby(by = 'BAT_ID').agg(Count=('hit', 'count'), Sum=('hit', 'sum'))

In [37]:
h_df = h_df[h_df['Count'] >= 500]

In [38]:
(h_df['Sum']/h_df['Count']).sort_values(ascending = False)

BAT_ID
andet001    0.312150
lemad001    0.289706
martk001    0.288580
newmk001    0.284112
albeh001    0.283688
              ...
carpm002    0.185771
hoskr001    0.175272
odorr001    0.174267
smoaj001    0.166023
voged001    0.165803
Length: 147, dtype: float64

In [16]:
df.BAT_EVENT_FL.unique()

array(['T', 'F'], dtype=object)

In [19]:
h_df[h_df.index == 'martk001']

          Count  Sum
BAT_ID
martk001    648  187

In [23]:
df.H_FL.unique()

array([0, 1, 4, 2, 3], dtype=int64)

In [24]:
df.columns

Index(['GAME_ID', 'AWAY_TEAM_ID', 'INN_CT', 'BAT_HOME_ID', 'OUTS_CT',
       'BALLS_CT', 'STRIKES_CT', 'PITCH_SEQ_TX', 'AWAY_SCORE_CT',
       'HOME_SCORE_CT', 'BAT_ID', 'BAT_HAND_CD', 'RESP_BAT_ID',
       'RESP_BAT_HAND_CD', 'PIT_ID', 'PIT_HAND_CD', 'RESP_PIT_ID',
       'RESP_PIT_HAND_CD', 'POS2_FLD_ID', 'POS3_FLD_ID', 'POS4_FLD_ID',
       'POS5_FLD_ID', 'POS6_FLD_ID', 'POS7_FLD_ID', 'POS8_FLD_ID',
       'POS9_FLD_ID', 'BASE1_RUN_ID', 'BASE2_RUN_ID', 'BASE3_RUN_ID',
       'EVENT_TX', 'LEADOFF_FL', 'PH_FL', 'BAT_FLD_CD', 'BAT_LINEUP_ID',
       'EVENT_CD', 'BAT_EVENT_FL', 'AB_FL', 'H_FL', 'SH_FL', 'SF_FL',
       'EVENT_OUTS_CT', 'DP_FL', 'TP_FL', 'RBI_CT', 'WP_FL', 'PB_FL', 'FLD_CD',
       'BATTEDBALL_CD', 'BUNT_FL', 'FOUL_FL', 'BATTEDBALL_LOC_TX', 'ERR_CT',
       'ERR1_FLD_CD', 'ERR1_CD', 'ERR2_FLD_CD', 'ERR2_CD', 'ERR3_FLD_CD',
       'ERR3_CD', 'BAT_DEST_ID', 'RUN1_DEST_ID', 'RUN2_DEST_ID',
       'RUN3_DEST_ID', 'BAT_PLAY_TX', 'RUN1_PLAY_TX', 'RUN2_PLAY_TX',
       'RUN3_PLAY_TX', 'RUN1_SB_FL', 'RUN2_SB_FL', 'RUN3_SB_FL', 'RUN1_CS_FL',
       'RUN2_CS_FL', 'RUN3_CS_FL', 'RUN1_PK_FL', 'RUN2_PK_FL', 'RUN3_PK_FL',
       'RUN1_RESP_PIT_ID', 'RUN2_RESP_PIT_ID', 'RUN3_RESP_PIT_ID',
       'GAME_NEW_FL', 'GAME_END_FL', 'PR_RUN1_FL', 'PR_RUN2_FL', 'PR_RUN3_FL',
       'REMOVED_FOR_PR_RUN1_ID', 'REMOVED_FOR_PR_RUN2_ID',
       'REMOVED_FOR_PR_RUN3_ID', 'REMOVED_FOR_PH_BAT_ID',
       'REMOVED_FOR_PH_BAT_FLD_CD', 'PO1_FLD_CD', 'PO2_FLD_CD', 'PO3_FLD_CD',
       'ASS1_FLD_CD', 'ASS2_FLD_CD', 'ASS3_FLD_CD', 'ASS4_FLD_CD',
       'ASS5_FLD_CD', 'EVENT_ID', 'hit'],
      dtype='object')

In [25]:
df.EVENT_ID.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151], dtype=int64)